deepl-translate==1.2.0
googletrans==4.0.0rc1
python-osc==1.8.0
-e git+https://github.com/soumt-r/speech_recognition_KR_APIs#egg=speechrecognition
PyAudio~=0.2.13
beautifulsoup4==4.12.0
CTkMessagebox==1.5
customtkinter==5.1.2
Pillow==9.4.0
playsound==1.3.0
pykakasi==2.2.1
requests==2.25.1